POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=15432
POSTGRES_DB=bigdata
POSTGRES_USER=spark
POSTGRES_PASSWORD=spark123

CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_HTTP_HOST_PORT=18123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_NATIVE_HOST_PORT=19000
CLICKHOUSE_DB=bigdata
CLICKHOUSE_USER=spark
CLICKHOUSE_PASSWORD=spark123
